<sly data-sly-test="${wcmmode.edit}">
	<div class="cq-placeholder cq-marker-start"data-emptytext="Playertwo"></div>
</sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='cq.authoring.dialog'}"/>
<sly data-sly-use.multiItems="com.aem.sling.core.MultiSlingComponent"/>
<sly data-sly-list.items="${multiItems.list}">
<h1>${items.favCartoon}</h1>
<img src="${items.favImage}" alt="favourite image"></img>
<h2>${items.favName}</h2>
<p>${items.favDesc}</p>
</sly>